// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';
// Bootstrap icons
@import "bootstrap-icons/font/bootstrap-icons.css";

@import "components/modelSelector.css";

#app
{
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
}
